# Ambiente virtual Python
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Variáveis de ambiente
.env
.env.*

# Arquivos temporários
*.tmp
*.log

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados pelo Python
*.egg-info/
dist/
build/